<mat-dialog-content>
  <mat-tab-group>
    <mat-tab >
      <ng-template mat-tab-label>
        <button mat-button>
          Magane Project 
        </button>
      </ng-template>
      <mat-icon class="picon" >file_copy</mat-icon> Copy
    </mat-tab>
    <mat-tab >
      <ng-template mat-tab-label>
        <button mat-button>
       Quck Add 
        </button>
      </ng-template>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-icon class="picon" >update</mat-icon>
          Add update</mat-list-item
        >
        <mat-list-item role="listitem">
          <mat-icon class="picon">check_box</mat-icon>
          Add Task
        </mat-list-item>
        <mat-list-item role="listitem">
        <mat-icon class="picon"> message</mat-icon>   Add Message </mat-list-item
        >
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
