.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.example-card {
  border-color: grey;
  background-color: #fafbfb;
  width: 310px;
}
.example-header-image {
  background-image: url("https://w7.pngwing.com/pngs/717/24/png-transparent-computer-icons-user-profile-user-account-avatar-heroes-silhouette-black-thumbnail.png");
  background-size: cover;
  margin: 0 10px 0 10px;
}
.user-img {
  background-image: url("https://www.pngfind.com/pngs/m/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.png");
  background-size: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.main {
  padding: 1% 1% 0 1%;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  grid-gap: 15px 15px;
  justify-content: space-between;
  row-gap: 30px;

}



